<div>
  <link href="./blog-post-card2.css" rel="stylesheet" />
  <div class="blog-post-card2-blog-post-card">
    <img
      alt="pastedImage"
      src="/playground_assets/reciclagem-400h.webp"
      class="blog-post-card2-pasted-image"
    />
    <div class="blog-post-card2-container">
      <div class="blog-post-card2-container1">
        <span class="blog-post-card2-text"><span>3 days ago</span></span>
      </div>
      <a href="page-postagem.html" class="blog-post-card2-navlink">
        <h1 class="blog-post-card2-text1">
          <span>Como Funcionam as Cooperativas de Reciclagem</span>
        </h1>
      </a>
      <span class="blog-post-card2-text2">
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
          volutpat turpis. Mauris luctus rutrum mi ut rhoncus. Integer in
          dignissim tortor. Lorem ipsum dolor sit amet, consectetur adipiscing
          ...
        </span>
      </span>
      <div class="blog-post-card2-container2">
        <div class="blog-post-card2-profile">
          <img
            alt="profile"
            src="/playground_assets/recycling%20reuse%20logo-200h.png"
            class="blog-post-card2-image"
          />
          <span class="blog-post-card2-text3"><span>We Recycle</span></span>
        </div>
        <a href="page-postagem.html" class="blog-post-card2-navlink1">
          Read More -&gt;
        </a>
      </div>
    </div>
  </div>
</div>
