.page-postagem-container {
  width: 100%;
  display: flex;
  z-index: 100;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.page-postagem-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.page-postagem-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  background-color: #365902;
}
.page-postagem-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.page-postagem-image {
  width: 104px;
  height: 82px;
  object-fit: cover;
}
.page-postagem-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.page-postagem-link {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 700;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.page-postagem-link1 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 700;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.page-postagem-link2 {
  color: var(--dl-color-gray-white);
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.page-postagem-link3 {
  color: var(--dl-color-gray-white);
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.page-postagem-link4 {
  color: var(--dl-color-gray-white);
  text-decoration: none;
}
.page-postagem-cta-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.page-postagem-cta-btn {
  color: var(--dl-color-gray-black);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: #ECF23D;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.page-postagem-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.page-postagem-icon {
  width: 36px;
  height: 36px;
}
.page-postagem-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.page-postagem-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.page-postagem-image1 {
  width: 50px;
  object-fit: cover;
}
.page-postagem-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page-postagem-icon02 {
  width: 24px;
  height: 24px;
}
.page-postagem-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page-postagem-links-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.page-postagem-link5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-postagem-link6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-postagem-link7 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-postagem-link8 {
  text-decoration: none;
}
.page-postagem-cta-btn1 {
  color: var(--dl-color-gray-white);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: 34px;
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-primary-100);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.page-postagem-bot {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
.page-postagem-social-links-container {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.page-postagem-icon04 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.page-postagem-icon06 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.page-postagem-icon08 {
  width: 24px;
  height: 24px;
}
.page-postagem-text {
  width: 1054px;
  height: 67px;
  font-size: 2em;
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: center;
}
.page-postagem-image2 {
  width: 1200px;
  height: 340px;
  object-fit: cover;
  border-color: #a6b30c;
  border-width: 2px;
}
.page-postagem-text1 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: justify;
  margin-left: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-doubleunit);
}
.page-postagem-text2 {
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.page-postagem-image3 {
  width: 104px;
  height: 82px;
  margin-top: var(--dl-space-space-tripleunit);
  object-fit: cover;
  margin-bottom: var(--dl-space-space-tripleunit);
}
@media(max-width: 767px) {
  .page-postagem-links-container {
    display: none;
  }
  .page-postagem-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .page-postagem-icon {
    fill: var(--dl-color-gray-white);
  }
  .page-postagem-text {
    width: 100%;
    font-size: 1em;
  }
  .page-postagem-text7 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .page-postagem-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .page-postagem-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .page-postagem-mobile-menu {
    display: none;
  }
  .page-postagem-cta-btn1 {
    display: none;
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .page-postagem-social-links-container {
    display: none;
  }
  .page-postagem-text {
    width: 479px;
    font-size: 1em;
  }
  .page-postagem-image2 {
    width: 100%;
  }
  .page-postagem-text7 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
